/* Element Snapping */

html {
    scroll-snap-type: y proximity;
    height: 100vh;
    overflow: auto;
}

@media only screen and (max-width: 980px) {
    html {
        scroll-snap-type: none!important;
    }  
}

#page-container #et-main-area .et_pb_section {
    scroll-snap-align: start;
    z-index: 0;
}